<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>九宫格图片裁剪</title>
    <style>
        .page{
            width:600px;
            height:auto;
            margin:20px auto;
            text-align: center;
            background-color: #e6e6e6;
            border-radius: 50px;
            padding: 60px 0;
        }

        .page img{
            width:150px;
            border:1px solid white;
        }

    </style>
</head>
<body>
<div class="page">
<img src="{{ path }}/1.png" name="1">
<img src="{{ path }}/4.png" name="2 ">
<img src="{{ path }}/7.png" name="3">
<img src="{{ path }}/2.png" name="4">
<img src="{{ path }}/5.png" name="5">
<img src="{{ path }}/8.png" name="6">
<img src="{{ path }}/3.png" name="7">
<img src="{{ path }}/6.png" name="8">
<img src="{{ path }}/9.png" name="9">
</div>
</body>
</html>