<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>九宫格图片裁剪</title>
    <style>
        .page{
            width:600px;
            height:auto;
            margin:20px auto;
            text-align: center;
            background-color: #e6e6e6;
            border-radius: 50px;
        }

        .page img{
            width:150px;
            border:1px solid white;
        }
    </style>
</head>
<body>
<div class="page">
<img src="{{ path }}/1.png" >
<img src="{{ path }}/4.png" >
<img src="{{ path }}/7.png" >
<img src="{{ path }}/2.png" >
<img src="{{ path }}/5.png" >
<img src="{{ path }}/8.png" >
<img src="{{ path }}/3.png" >
<img src="{{ path }}/6.png" >
<img src="{{ path }}/9.png" >
</div>
</body>
</html>